@model IEnumerable<Package>

<div class="extgrid">
    @foreach (var package in Model)
    {
        <figure class="shadow">
            <a href="@package.DetailsLink" title="@package.Description">
                <img class="icon" src="@package.Icon" asp-append-version="true" loading="lazy" alt="@package.Name" />
            </a>

            <a href="@package.DetailsLink">
                <figcaption>@package.Name</figcaption>
            </a>
            <p class="version">
                @("v")@package.Version
                <a href="@package.DownloadLink" title="Download @("v" +package.Version)">🡇</a>
            </p>

            <span class="author">by <a href="@package.AuthorLink">@package.Author</a></span>
        </figure>
    }
</div>
