@model IEnumerable<Package>
@using moment.net;

<div class="extgrid">
    @foreach (var package in Model)
    {
        <figure class="shadow">
            <a href="~/extension/@package.ID" title="@package.Description">
                <img class="icon" src="@package.Icon" asp-append-version="true" alt="@package.Name" />
                <figcaption>@package.Name</figcaption>
            </a>
            <p class="version">
                @("v")@package.Version
                <a href="~/extensions/@package.ID/@("v" + package.Version).vsix" title="Download @("v" +package.Version)">🡇</a>
            </p>

            <span class="author">by <a href="~/author/@package.Author">@package.Author</a></span>
        </figure>
    }
</div>
