@model IEnumerable<Package>

<div class="extgrid">
    @foreach (var package in Model)
    {
        <figure class="shadow @(package.HasValidatorErrors ? "invalid" : null)">
            <a href="@package.DetailsLink">
                <img class="icon" src="@package.Icon" asp-append-version="true" loading="lazy" alt="@package.Name" />
            </a>

            <a href="@package.DetailsLink">
                <figcaption>@package.Name</figcaption>
            </a>
            <p class="version">
                @("v")@package.Version
                <a href="@package.DownloadLink" title="Download @("v" +package.Version)">▼</a>
            </p>

            <p class="description">@package.Description?.Substring(0, Math.Min(package.Description.Length, 120))</p>

            <span>by <a href="@package.AuthorLink">@package.Author</a></span>
        </figure>
    }
</div>
