<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=600, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="An alternative Visual Studio extension gallery for nightly builds." />
    <link rel="stylesheet" href="~/css/site.scss" inline />
    
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/icon-180x180.png?v=1" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/icon-32x32.png?v=1" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/icon-16x16.png?v=1" />
    <link rel="manifest" href="/site.webmanifest?v=1" />

    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}")" />
    <meta property="og:image" content="@(ViewData["Image"] ?? "/img/icon-180x180.png")" />
</head>
<body>
    <header>
        <div class="container">
            <a href="/">Open VSIX Gallery</a>
            <form action="~/search/" method="get">
                <label for="search">Search</label>
                <input type="search" id="search" value="@Context.Request.Query["q"]" name="q" placeholder="Search..." required />
                <button type="submit">Search</button>
            </form>
        </div>
    </header>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer>
        <div class="container">
            <div id="col1">
                <h3>How to</h3>
                <ul>
                    <li><a href="~/feedguide">Set up gallery feed</a></li>
                    <li><a href="~/devguide">Add your extension</a></li>
                    <li><a href="https://devblogs.microsoft.com/visualstudio/getting-started-writing-visual-studio-extensions/" rel="noopener noreferrer">Write your first extension</a></li>
                </ul>
            </div>
            <div id="col2">
                <h3>Contribute</h3>
                <ul>
                    <li><a href="https://github.com/madskristensen/VsixGallery/" rel="noopener noreferrer">Source code on GitHub</a></li>
                </ul>
            </div>
        </div>

        <p id="copyright">
            Copyright &copy; 2020 <a href="https://www.madskristensen.net" rel="noopener noreferrer" target="_blank">Mads Kristensen</a>
        </p>
    </footer>
</body>
</html>
